bitarray
datasets
gitpython
ninja
scipy
tqdm
transformers
ujson
flask
python-dotenv
onnxruntime
onnxruntime-tools
coremltools
tabulate
openvino
matplotlib
jsonlines
optimum
optimum-intel
faiss-cpu
torch==1.13.0
beir